html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: rgb(47, 47, 47);
  background: radial-gradient(
    circle,
    rgba(47, 47, 47, 1) 39%,
    rgba(17, 17, 17, 1) 100%,
    rgba(246, 246, 246, 1) 100%
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* 
@media (min-width:992px){
    body{
        overflow: hidden;
    }
} */

/*------------------------------------------------------------Header--------------------------------------------------------------*/

.container-fluid {
  padding: 3% 15% 3%;
}

@media (min-width: 992px) {
  .navigation-bar {
    position: fixed;
  }
}

.bg-dark{
  background: rgb(47, 47, 47);
  background: radial-gradient(
    circle,
    rgba(47, 47, 47, 1) 100%,
    rgba(17, 17, 17, 1) 100%,
    rgba(246, 246, 246, 1) 100%
  );
}

nav {
  position: relative;
  width: 590px;
  height: 50px;

  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

nav a:hover,
.active {
  color: #ffcb74;
}

nav .animation {
  position: relative;
  height: 100%;
  height: 5px;
  top: 0;
  bottom: 0;
  z-index: 1;
  color: #ffcb74;
  background: #ffcb74;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}

nav a:nth-child(1) {
  width: 100px;
}

nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
}

nav a:nth-child(2) {
  width: 110px;
}

nav a:nth-child(2):hover ~ .animation {
  width: 110px;
  left: 100px;
}

nav a:nth-child(3) {
  width: 100px;
}

nav a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 210px;
}

nav a:nth-child(4) {
  width: 110px;
}

nav a:nth-child(4):hover ~ .animation {
  width: 110px;
  left: 310px;
}

nav a:nth-child(5) {
  width: 100px;
}

nav a:nth-child(5):hover ~ .animation {
  width: 100px;
  left: 420px;
}

.navbar-toggler {
  background-color: #ffcb74;
}

@media (max-width: 991px) {
  nav {
    width: 3.5rem;
    height: 3rem;
  }

  nav .animation {
    height: 0px;
  }

  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#navbarOffcanvasLg {
  background-color: #111;
  width: auto;
}

/*----------------------------------------------------------------------------Home--------------------------------------------------------------------------*/

.main-section {
  margin: 0;
  padding: 15% 0%;
  z-index: -1;
}

/*--------------------Social-icons------------------------*/
.home-social {
  padding-left: 0%;
  width: 10%;
}

.home-social-icon,
.home-social-icon:visited {
  font-size: 1.25rem;
  color: white;
  padding: 15% 10% 15% 0%;
  text-decoration: none;
}

.home-social-icon:hover {
  font-size: 1.25rem;
  color: #ffcb74;
  padding: 15% 10% 15% 0%;
  text-decoration: none;
}

/* Home-Text */

h5,
h6,
p {
  color: #bfbebe;
}

.contact-me-btn {
  position: relative;
  padding: 1rem 2rem 0.5rem 2.5rem;
  color: #000000;
  border: 3px solid #776e62;
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
  text-decoration: none;
}

.contact-me-btn:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #ffcb74;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #000000;
}

.contact-me-btn:hover {
  padding: 0.75rem 2.25rem;
  text-decoration: none;
  color: #000000;
}

.contact-me-btn:hover:before {
  top: 0;
  left: 0;
  text-decoration: none;
  color: #000000;
}

.contact-me-icon {
  position: relative;
  top: 3;
}

/* ------------------Home Image--------------------------- */
.home-img-bg {
  position: absolute;
  right: 20%;
  top: 25%;
  width: 25%;
  fill: #ffcb74;
  z-index: -1;
}

.home-main-img {
  width: 190px;
}

/* --------------Tablet and Android target----------- */

@media (max-width: 992px) and (min-width: 686px) {
  .home-img-bg {
    width: 60%;
    display: absolute;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20rem;
    left: 6rem;
  }

  .home-social {
    position: relative;
    top: 2rem;
  }

  .home-content {
    position: relative;
    top: 20rem;
    padding-left: 0;
  }
}

@media (max-width: 686px) {
  .home-img-bg {
    width: 60%;
    display: absolute;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20rem;
    left: 3rem;
  }

  .home-social {
    position: relative;
    top: 2rem;
  }

  .home-content {
    position: relative;
    top: 10rem;
    padding-left: 0;
  }
}

/* ------------------------------------------------------------------------About Me----------------------------------------------------------------- */

#aboutme {
  padding: 7rem 0;
}

@media (max-width: 992px) {
  .about-me-container {
    text-align: center;
  }
}
.page-heading {
  text-align: center;
}

.about-me-img {
  width: 60%;
  filter: invert(100%);
}

.about-me-experience {
  padding: 5%;
  margin: 0;
  text-align: center;
}

.about-me-experience h5 {
  font-size: x-large;
}

/* ----------------------------------------------Skills Section-------------------------------------------- */

#skills{
    scroll-margin-top: 8rem;
}
@media (min-width:1025px){
.circle-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 5rem;

}

.circle-block {
  z-index: -1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.circle-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-radius: 50%;
  background-color: #292929;
  box-shadow: 0 0 5px 3px #222121;
}

.circle-box::before {
  position: absolute;
  content: "";
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 50%;
  border: 1px solid #353535;
}

.circle-box .circle-number span {
  color: #e9e9e9;
}

.circle-box .circle-number .circle-num {
  font-size: 35px;
  font-weight: bold;
}

.circle-box .circle-number .circle-sub {
  font-size: 20px;
}

.circle-box .circle-title {
  font-size: 15px;
  color: #9b9b9b;
}

.circle-dots {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 2s transform, 2s opacity ease;
}

.circle-dots::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: 50%;
  border-radius: 50%;
  background-color: #b7b5b5;
  box-shadow: 0 0 5px 2px #585858;
  transform: translateX(-50%);
}

.circle-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: none;
  transform: rotate(-90deg);
}

.circle {
  stroke: url(#gradientStyle);
  stroke-width: 4px;
  stroke-dasharray: 503;
  stroke-dashoffset: 503;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: 2s stroke-dashoffset;
}

.progress-animation{
  display: none; 
  margin-right: 30px;
  margin-left: 30px;
}
}

@media (max-width:1025px){
.circle, .circle-animation, .circle-block, .circle-box{
  display: none;
  }
  .progress{
    margin: 10px;
  }
}

/* ----------------------------------------------Portfolio Section-------------------------------------------- */

#portfolio{
  scroll-margin-top:8rem;
  padding-top : 5rem;
}

.empty-section{
  width: 10rem;
  filter: invert(100%);
}

.portfolio-websites{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---------------------------------------------Contact-Form--------------------------------------------------- */

#contact{
  scroll-margin-top:8rem;
  padding-top : 5rem;
}

.contact-form{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: none;
}

input, textarea{
  margin: 1rem;
  display: block;
}

textarea{
  height: 25px;
}


/* Footer */

.credits{
  text-align: right;
  padding: 1rem;
}